server/Isda/Isda.Web/Service References/IsdaService/IsdaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IsdaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54300/IsdaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54300/IsdaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54300/IsdaService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54300/IsdaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Isda.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIsdaService_SubmitHaulData_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitHaulData" />
  </wsdl:message>
  <wsdl:message name="IIsdaService_SubmitHaulData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitHaulDataResponse" />
  </wsdl:message>
  <wsdl:message name="IIsdaService_GetHauls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHauls" />
  </wsdl:message>
  <wsdl:message name="IIsdaService_GetHauls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHaulsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIsdaService">
    <wsdl:operation name="SubmitHaulData">
      <wsdl:input wsaw:Action="http://tempuri.org/IIsdaService/SubmitHaulData" message="tns:IIsdaService_SubmitHaulData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIsdaService/SubmitHaulDataResponse" message="tns:IIsdaService_SubmitHaulData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHauls">
      <wsdl:input wsaw:Action="http://tempuri.org/IIsdaService/GetHauls" message="tns:IIsdaService_GetHauls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIsdaService/GetHaulsResponse" message="tns:IIsdaService_GetHauls_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIsdaService" type="tns:IIsdaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitHaulData">
      <soap:operation soapAction="http://tempuri.org/IIsdaService/SubmitHaulData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHauls">
      <soap:operation soapAction="http://tempuri.org/IIsdaService/GetHauls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IsdaService">
    <wsdl:port name="BasicHttpBinding_IIsdaService" binding="tns:BasicHttpBinding_IIsdaService">
      <soap:address location="http://localhost:54300/IsdaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>